.hero__container {
    /*background: url('../images/img-2.jpg') center center/cover no-repeat;*/
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}

video {
  object-fit: cover;
  position: fixed;
  z-index: -1;
}

.hero__container > h1 {
    color: #fff;
    font-size: 84px;
    margin: 0 !important;
    margin-top: -84px;
}

.hero__container > p {
    margin: 8px;
    color: #fff;
    font-size: 32px;
}

.hero__btns {
    margin-top: 32px;
}

.hero__btns .btn {
    margin: 8px;
}

.hero__arrs {
    position: absolute;
    margin-top: calc(80vh);
}

.hero__arrs .arr {
    margin: 8px;
    animation-name: slidevertical;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 0.5s;
}

@keyframes slidevertical {
    from {transform: translateY(0px);}
    to {transform: translateY(4px);}
}