.section-container {
    background: white;
    padding: 4rem;
    padding-top: 8rem;
}

.text-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    object-fit: contain;
}